body{
    margin: 0;
    padding:0;
    background-color: #2D1E6B;
    font-family: 'Playfair Display', serif;
}
#header{
    padding: 5px;
    margin: 0 auto;
    width : 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color : #ffffff
}
#logo-container{
   display: flex;
   align-items: center;
   /* width:100px; */
   /* justify-content: space-between; */
}
/* #logo-container h4{
    margin-left: 10px;
} */
#logo-container img{
    width : 30px;
    height:30px
}
#nav-items{
    display: flex;
    list-style: none;
    width : 500px;
    justify-content:space-between;
    align-items:center;
    font : bold;
}
#main-content{
    margin: 5px;
    padding: 5px;
    display:flex;
    justify-content: flex-end;
    position:relative;
    color : #ffffff;
}
#main-content .right{
    width: 80%;
    height : 100%;
    z-index : -10;
    mix-blend-mode: color-dodge;
}
#main-content .right img{
    width: 100%;
    height: 90vh;
    margin-top:-2vh
}
#main-content .left{
    position: absolute;
    width : 50%;
    height: 100%;
    left: 40px;
    top : 100px  
}
#main-content .left .big-text{
    font-size : 40px;
    font-weight : 900
}
#main-content .left .overview{
    display : flex;
    justify-content: flex-start;
    gap:15px;
}
#main-content .left .overview .overview-items{
    display: flex;
    /* justify-content: flex-start; */
    font-size: small;
    flex-direction: column;
    align-items : center;
}
#main-content .left .overview .overview-items h4{
    font-size : 20px;
    font-weight: 70px;
    margin: 0;
    padding:0;
    letter-spacing: 3px;
}
#main-content .left .overview .overview-items p{
   margin : 0;
   padding: auto;
   font-weight: 300;
}

.gradient-text{
    color: indianred;
}
.butons{
    display: flex;
    justify-content: flex-start;
}
.btn{
    /* display: flex;
    justify-content:flex-start; */
    padding: 0 10px;
    margin: 0 10px;
    border : 1px solid #ffffff;
    background-color: transparent;
    transform: skewX(-20deg);
}
.btn1{
    background-color: crimson;
}
.band{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    /* background-color: #ffffffa1; */
    /* margin : 15px 10px; */
    /* height: 20px; */
    /* padding: 5px 3px; */
    /* padding-left: 5px;
    padding-right: 5px; */
    margin-bottom:100px;
    background: #ffffff40;
    box-shadow: 0 80px 32px 0 rgba(31, 38, 135, 0.37);
    transform: rotate(-3deg);
    backdrop-filter:blur(4px);
    border: 1px solid #ffffff40;
}
.sub-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 0;
    padding: 0;
    text-align: center;
    color : #ffffff;
    /* width : 70%; */

}
.sub-main .heading{
    margin:-20px;
    font-size: 20px;
    font-weight:normal;
}
 .description{
    /* z-index : -20deg; */
    font-size: small;
    width: 500px;
}
.sub-main .carousel{
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.images{
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
}
.image-center{
    width: 400px;
    height: 350px;
}
.discover-section{
    width: 70%;
    margin: 100px auto;
}
.discover-card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 8px 32px 8 rgba(31, 38, 135, 0.37);
    mix-blend-mode: color-dodge;
    border: 1px solid #ffffff40;
    backdrop-filter: blur(14px);
}
.discover-image img{
  width: 440px;
  height: 250px;  
}
.sub-cards{
    width : 70%;
    margin:20px auto;
    display:flex;
    align-items: center;
    flex-direction: column;
   color : #ffffff;
}
.cards-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    height: 500px;

}
.card-sub-img img{
    width : 30px;
    height:40px;
}

/* .card-sub-img img{
    width : 30px;
    height:40px;
}
.card-img img{
    width : 250px;
} */
.demo-card{
    width : 300px;
    display: flex;
    /* gap: 15px; */
    flex-direction: column;
    align-items: center;
    padding : 10px 15px;
    border-radius: 7px;
    border: solid #fffff235;
    background: #35276D;
    box-shadow:  0 8px 32px 8 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
}
.card-img img{
    width : 100%;
}
.demo-card > h3{
    margin: 0;
    align-self: start;
}
.card-sub-img{
    /* margin-top: 5px; */
    display: flex;
   align-self:self-start;
   /* gap : 7px; */
   gap:10px;
   /* flex-direction: column; */
}
.card-sub-img h4,.card-sub-img p {
    margin : 0%;
}
.card-sub-img h4{
    margin-left: -100px;
}



/* .cards-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.demo-card{
    display: flex;
    width: 250px;
    margin: 10px auto;
    flex-wrap: wrap;
}
.card-img img{
    width : 250px;
}
.card-sub-img img{
    width : 30px;
    height:40px;
}
.card-sub-img{
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */









